Import the required packages with their customary aliases as follows:

In [1]:
import pandas as pd   
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset. How many rows and columns are in `gdp_df`? What are the data types of each column?

In [2]:
gdp_df= pd.read_csv('../data/gdp_percapita.csv')
print(gdp_df)
print(gdp_df.info())

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2021  1517.016266              NaN
1        Afghanistan  2020  1968.341002              NaN
2        Afghanistan  2019  2079.921861              NaN
3        Afghanistan  2018  2060.698973              NaN
4        Afghanistan  2017  2096.093111              NaN
...              ...   ...          ...              ...
7657        Zimbabwe  1994  2670.106615              NaN
7658        Zimbabwe  1993  2458.783255              NaN
7659        Zimbabwe  1992  2468.278257              NaN
7660        Zimbabwe  1991  2781.787843              NaN
7661        Zimbabwe  1990  2704.757299              NaN

[7662 rows x 4 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7662 entries, 0 to 7661
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  7662 non-null   object
 1   Year             7662 non-null   int64
 2   Value            7662 non-null   float64
 3   Value Footnotes  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 239.6+ KB
None

Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [3]:
gdp_df2=gdp_df.drop(columns=['Value Footnotes'])
gdp_df2=gdp_df2.rename(columns={'Country or Area':'Country','Year':'Year','Value':'GDP_Per_Capita'})
print(gdp_df2)

          Country  Year  GDP_Per_Capita
0     Afghanistan  2021     1517.016266
1     Afghanistan  2020     1968.341002
2     Afghanistan  2019     2079.921861
3     Afghanistan  2018     2060.698973
4     Afghanistan  2017     2096.093111
...           ...   ...             ...
7657     Zimbabwe  1994     2670.106615
7658     Zimbabwe  1993     2458.783255
7659     Zimbabwe  1992     2468.278257
7660     Zimbabwe  1991     2781.787843
7661     Zimbabwe  1990     2704.757299

[7662 rows x 3 columns]

How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [37]:
gdp_df2['country_count']=gdp_df2.groupby('Country')['Country'].transform('count')

gdp_df2[gdp_df2['country_count']<33]

                 Country  Year  GDP_Per_Capita  country_count
0            Afghanistan  2021     1517.016266             20
1            Afghanistan  2020     1968.341002             20
2            Afghanistan  2019     2079.921861             20
3            Afghanistan  2018     2060.698973             20
4            Afghanistan  2017     2096.093111             20
...                  ...   ...             ...            ...
7558  West Bank and Gaza  1998     4786.480236             29
7559  West Bank and Gaza  1997     4294.746098             29
7560  West Bank and Gaza  1996     3916.925775             29
7561  West Bank and Gaza  1995     4047.128488             29
7562  West Bank and Gaza  1994     3951.205493             29

[996 rows x 4 columns]